<!-- <p>login works!</p>

<form novalidate #loginform="ngForm">

    <div> <label>Name: <input type="text" required name="name" [(ngModel)]="login.name"></label></div>
    
    <div> <label>Age: <input type="number" required name="age" [(ngModel)]="login.age"></label></div>
    
    <div> <label>Password: <input type="password" required name="password" [(ngModel)]="login.pass"></label></div>
    
    <div> <label>Email: <input type="email" required name="email" [(ngModel)]="login.email"></label></div>
            
    <div> <button [disabled]="loginform.invalid">Send</button></div>
            
    </form> -->