<div class="row pt-2">
    <div class="col-8">
    <div class="card">
    <div class="card-header bg-secondary text-white">Student 
   List</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
            <table class="table table-bordered">
            <thead>
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @for (item of studentList; track $index) { 
            <tr>
            <td>{{ item.studentId }}</td>
            <td>{{ item.studentName }}</td>
            <td>
            <button class="btn btn-danger"
           (click)="onDelete(item)">
            Delete 
            </button>
          
            </td>
            </tr>
            } 
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-4">
            <div class="card">
            <div class="card-header bg-secondary text-white">Delete 
           Student</div>
           <div class="card-body">
            <form id="studentForm" formGroup="editStudent">
            <div class="form-group" id="studentform">
            <label for="studentName">Student Name:</label>
            <input
            type="text"
            [(ngModel)]="studentObj.studentName"
            class="form-control"
            id="studentName"
            name="studentName"
            required
            />
            </div>
            <div class="form-group">
            <label for="studentGrade">Student Grade:</label>
            <input
            type="text"
            [(ngModel)]="studentObj.studentGrade"
            class="form-control"
            id="studentGrade"
            name="studentGrade"
            required
            />
            </div>
            <div class="form-group">
            <label for="studentRollNo">Student Roll No:</label>
            <input
            type="text"
            [(ngModel)]="studentObj.studentRollNo"
            class="form-control"
            id="studentRollNo"
            name="studentRollNo"
            required
            />
            </div>
            <div class="form-group form-check">
            <input
            type="checkbox"
            [(ngModel)]="studentObj.isActive"
            class="form-check-input"
            id="isActive"
            name="isActive"
            checked
            />
            <label class="form-check-label" for="isActive">Is 
           Active</label>
            </div>
            <div class="form-group">
            <label for="createdDate">Created Date:</label>
            <input
            type="datetime-local"
            [(ngModel)]="studentObj.createdDate"
            class="form-control"
            id="createdDate"
            name="createdDate"
            required
            />
            </div>
            <div class="form-group">
            <label for="modifiedDate">Modified Date:</label>
            <input
            type="datetime-local"
            [(ngModel)]="studentObj.modifiedDate"
            class="form-control"
            id="modifiedDate"
            name="modifiedDate"
            />
            </div>
            <div class="row pt-3">
            <div class="col-6 text-center"></div>
            <div class="col-6 text-center">
            @if(studentObj.studentId == 0) { 
            <button class="btn btn-warning"
           disabled>Confirm</button>
            }@else { 
            <button class="btn btn-success" (click)="onConfirm()">
                Confirm 
            </button>
    } 
 </div>
 </div>
 </form>
 </div>
 </div>
 </div>
</div>